<div class="wrap">
<div id="my-account">
    <div class="top-block">
        <div class="details-wrap">
            <div class="details-col">
                <h2>{{name}}</h2>
                <h3>{{title}}</h3>
                <h3>{{company}}</h3>

                <div class="contact">
                    <p><strong>{{mobile}}</strong></p>
                    <p><a href="mailto:{{email}}">{{email}}</a></p>
                    <p><a href="{{website}}" target="_blank">{{website}}</a></p>
                </div>
            </div>
            <div class="details-col">
                <div id="skillWrap">
                    <h2>Skill Sets</h2>
                    {{#each priSkill}}
                        <div class="skillMeter">
                            <p>{{this.skill}}</p>
                            <div class="skill"><span></span></div><label class="value"><span >{{this.level}}</span>/10</label>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="photo-wrap">
            <img src="images/resumew_03.png" alt="" />
        </div>

        <div class="button-area"><a id="rb-edit" class="btn">Edit</a> <a id="rb-public"  class="btn">Public View</a></div>
    </div>
    <div class="detailed-resume">

    </div>
</div>
</div>